*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
/*/build/
local.properties
Thumbs.db
.classpath
.project
.idea
*.iml
*.ipr
*.iws
.idea/workspace.xml
_sandbox
proguard/
*.log

/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp